<nav role="navigation" class="teal lighten-4">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo center black-text">Logo</a>

        <ul class="left hide-on-med-and-down">
            <li><a class="black-text" href="#">Trabajos</a></li>
            <li><a class="black-text" href="#">Blog</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a class="black-text" href="#">Quien soy</a></li>
            <li><a class="black-text" href="#">Contacto</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a class="black-text" href="#">Trabajos</a></li>
            <li><a class="black-text" href="#">Blog</a></li>
            <li><a class="black-text" href="#">Quien soy</a></li>
            <li><a class="black-text" href="#">Contacto</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>