body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#container {
    width: 80%;
    margin: auto;
}
.item {
    background: rgb(135, 199, 135);
    width: 320px;
    height: 320px;
}