
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper {
    width:40%;
}

.section {
    padding:0px;
}

.section-shadow {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.section-header h2 {
    text-align:center;
    margin-top:1em;
    margin-bottom:1em;
}

.cell {
    cursor:pointer;
    transition: opacity 0.5s;
}

.cell:hover {
    opacity:0.4!important;
}