<div id="main" class="section section-shadow scrollspy" ng-init="homeCtrl.init()">
    <app-parallax pheight="45em" pimage="background1.jpg"></app-parallax>
</div>
<div id="portfolio" class="section scrollspy">
    <div class="section-header"><h2>Mis Trabajos</h2></div>
    <div id="freewall" class="free-wall"></div>
</div>
<div id="about-me" class="section scrollspy">
    <div class="section-header"><h2>Sobre mi</h2></div>
    <div class="container">
        <div class="row">
            <div class="col m12 l6">
                <div class="card">
                    <div class="card-image">
                        <img src="img/0.jpg">
                    </div>
                </div>
            </div>
            <div class="col m12 l6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Bruno Carbonell</span>
                        <p>
                            Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at.
                            Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves.
                            It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
                        </p><br>
                        <p>
                            Oh to talking improve produce in limited offices fifteen an. Wicket branch to answer do we. Place are decay men
                            hours tiled. If or of ye throwing friendly required. Marianne interest in exertion as. Offering my branched confined
                            oh dashwood.
                        </p><br>
                        <p>
                            Supported neglected met she therefore unwilling discovery remainder. Way sentiments two indulgence uncommonly own.
                            Diminution to frequently sentiments he connection continuing indulgence. An my exquisite conveying up defective.
                            Shameless see the tolerably how continued. She enable men twenty elinor points appear. Whose merry ten yet was men
                            seven ought balls.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="blog" class="section scrollspy">
    <div class="section-header"><h2>Blog</h2></div>

</div>
<div id="contact-me" class="section scrollspy">
    <div class="section-header"><h2>Contact Me</h2></div>

</div>