<div id="main" class="section section-shadow scrollspy" ng-init="homeCtrl.init()">
    <app-parallax pheight="45em" pimage="background1.jpg"></app-parallax>
</div>
<div id="portfolio" class="section scrollspy">
    <div class="section-header"><h2>Mis Trabajos</h2></div>
    <div id="freewall" class="free-wall"></div>
</div>
<div id="about-me" class="section scrollspy">
    <div class="section-header"><h2>Sobre mi</h2></div>
    <div class="container">
        <div class="row">
            <div class="col m12 l6">
                <div class="card">
                    <div class="card-image">
                        <img src="img/0.jpg">
                    </div>
                </div>
            </div>
            <div class="col m12 l6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Lorem Ipsum</span>
                        <p>
                            Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at.
                            Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves.
                            It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
                        </p><br>
                        <p>
                            Oh to talking improve produce in limited offices fifteen an. Wicket branch to answer do we. Place are decay men
                            hours tiled. If or of ye throwing friendly required. Marianne interest in exertion as. Offering my branched confined
                            oh dashwood.
                        </p><br>
                        <p>
                            Supported neglected met she therefore unwilling discovery remainder. Way sentiments two indulgence uncommonly own.
                            Diminution to frequently sentiments he connection continuing indulgence. An my exquisite conveying up defective.
                            Shameless see the tolerably how continued. She enable men twenty elinor points appear. Whose merry ten yet was men
                            seven ought balls.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="blog" class="section scrollspy">
    <div class="section-header"><h2>Blog</h2></div>
    <div class="container">
        <div class="row">
            <div class="col l12">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="material-icons circle red">folder</i>
                        <span class="title">Noticia 1</span>
                        <p>22-01-2016
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <span class="title">Noticia 2</span>
                        <p>22-01-2016
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">folder</i>
                        <span class="title">Noticia 3</span>
                        <p>22-01-2016
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle red">folder</i>
                        <span class="title">Noticia 4</span>
                        <p>22-01-2016
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="contact-me" class="section scrollspy">
    <div class="section-header"><h2>Contacta conmigo</h2></div>
    <div class="container">
        <div class="row">
            <div class="col l3"><br></div>
            <div class="col l6 z-depth-1">
                <form novalidate style="margin: 2em;padding-bottom: 19em;">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Nombre y apellidos</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="email" type="text" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="asunto" type="text" class="validate">
                        <label for="asunto">Asunto</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Mensaje</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>